.login__page {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f3f4f8;
  padding: 0 2%;
}

.login__wrapper {
  width: 350px;
  padding: 2%;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  text-align: center;
  gap: 25px;
}

.login__wrapper input {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  padding: 0 6%;
  border: none;
  outline: none;
  background: #f2f3f7;
}

.login__wrapper button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #c1960a;
  color: #f7e3fa;
  font-size: 18px;
}

.login__wrapper h2 {
  color: #c1960a;
}
